<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ $ctrl.data.name }}</span>
            <span class="md-subhead">{{ $ctrl.data.login }}</span>
            <md-divider></md-divider>
            <span>
                <md-icon>link</md-icon>
                <a href="{{ $ctrl.data.url }}">{{ $ctrl.data.url }}</a>
            </span>
            <span ng-if="$ctrl.data.location">
                <md-icon>home</md-icon>
                <span class="md-subhead">{{ $ctrl.data.location }}</span>
            </span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-md card-media">
                <img ng-cloak ng-src="{{$ctrl.data.avatar_url}}" class="md-avatar" alt="{{$ctrl.data.login}}" />
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions ng-if="$ctrl.data.name === undefined" layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" href="/Users/{{ $ctrl.data.login }}">
            Details
        </md-button>

    </md-card-actions>
</md-card>