<div>
  <div>
    <md-toolbar>
      <!-- Pre-Search Bar -->
      <div id="search-bar" ng-show="$ctrl.showPreSearchBar()" class="md-toolbar-tools">
        <div>
          <img ng-cloak src="/img/logo.png" class="logo" alt="Logo" />
        </div>
        <h2>
          <a ng-href="/"> Github-App</a>
        </h2>
        <span flex></span>

        <!-- Search button (initiates search) -->
        <md-button ng-click="$ctrl.initiateSearch()">
          <md-icon>search</md-icon>
          <span>Search</span>
        </md-button>
      </div>

      <!-- Search bar -->
      <div ng-show="$ctrl.showSearchBar()" class="md-toolbar-tools search-bar">
        <a ng-href="/Search/{{$ctrl.search}}">
          <md-button class="md-icon-button">
            <md-icon>search</md-icon>
          </md-button>
        </a>

        <!-- Input Text -->
        <md-input-container flex>
          <input id="search-input" type="text" ng-model="$ctrl.search" />
        </md-input-container>

        <md-button class="md-icon-button" ng-click="$ctrl.endSearch()">
          <md-icon>close</md-icon>
        </md-button>
      </div>

    </md-toolbar>
  </div>

  <!-- CONTENT -->
  <md-content>
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <ng-outlet></ng-outlet>

  </md-content>
</div>