.logo {
  height: 48px;
  width: 48px;
  margin: 5px;
}

/* SEARCH */
.search-bar { background-color: #222; }
.search-bar * { color: white; }
.search-bar input { border-bottom-color: white; }
.md-errors-spacer { display:none; }